body{
    background-image: url('hatter.png');
}

.bevezeto{
    font-style: italic;
    color:black;
    
}

#bevezeto{
    background-color: grey;
}

h1{
    color:black;
    background-color: grey;
    text-align: center;
}

p{
    font-size:30px;
}

div.gallery {
    margin: 5px;
   
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 200px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    font-size:20px;
  }

  .elden{
    background-color: #777;
    position: absolute;
    left:280px;
    top: 230px ;
  }

  #elden{
    position: absolute;
    left:500px;
  }

  .cod{
    background-color: #777;
   
  }
.lol{
  background-color: #777;
  position: absolute;
  left:600px;
  top:230px 
}
.game{
  float:right;
  position:absolute;
  top: 300px;
  left: 1400px;
  background-color: #777;
}

.cod{
  background-color: #777;
  
}

div.eld {
  margin: 5px;
 
  float: left;
  width: 180px;
  
  
}

div.eld:hover {
  border: 1px solid #777;
}

div.eld img {
  width: 100%;
  height: 200px;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-size:20px;
}

.kesz{
  float:bottom;

}

#kesz{
  font-size: 14px;;
}